<div class="section-colored-top">
  <div class="container">
    <%= render 'layouts/search' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <% @jobs.each do |job| %>
            <%= render 'job_row', job: job %>
          <% end %>

          <%= render 'job_no_results' if @jobs.count == 0 %>
        </div>
      </div>

      <%= paginate @jobs %>
    </div>
  </div>
</div>
