.jobs_new{
  min-height: 1600px;
  .step1{
    margin-top: 60px;
  }
  .step2,
  .step3{
    display: none;
  }
}

.section__form-job{
  padding-bottom: 100px;
  .step2{
    margin-top: 60px;
  }
  .goto_step3{
    display: inline-block;
  }
  h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px
  }
  .icon-align{
    float: right;
    margin-top: 75px;
    margin-right: 50px;
  }
}

trix-editor{
  min-height: 200px;
  border-radius: 0;
  border: 0;
  border-top: 1px solid #DDD;
}

trix-toolbar{
  padding: 5px 15px;
}
