.section-job {

  &__header {
    padding-bottom: 40px;
    padding-top: 80px;

    &__title {
      color: darken($primary-color-dark, 25);
      font-weight: bold;
    }
  }

  &__description {
    h2 {
      margin-bottom: 30px;
    }
  }

  &__company {
    margin-top: 50px;
  }

  &__info {
    &__ul {
      margin: 0;
      padding: 0;
    }

    &__ul__li {
      list-style: none;
      margin-bottom: 15px;
    }

    &__title {
      color: $well-text-color;
      font-weight: bold;
      margin: 0;

      &:hover {
        color: $well-text-color;
      }
    }

    &__link {
      box-shadow: none;
      color: $well-text-color;
      font-weight: bold;
      &:hover {
        background: darken($well-bg-color, 5);
      }
    }
  }
}
