.section__job {
    &-header {
        padding-bottom: 40px;
        padding-top: 80px;
        &__title {
            color: darken($primary-color-dark, 25);
            font-weight: bold;
        }
    }
    &-description {
        h2 {
            margin-bottom: 30px;
        }
    }
    &-company {
        margin-top: 50px;
    }
    &-info {
        &__ul {
            padding: 0;
            margin: 0;
            &__li {
                list-style: none;
                margin-bottom: 15px;
            }
        }
        &__title {
            margin: 0;
        }
        &__link {
            a {
                font-size: 13px;
                color: $primary-text-color !important;
            }
        }
    }
}
