.section-job {

  &__header {
    padding-bottom: 40px;
    padding-top: 80px;

    &__title,
    &__subtitle {
      color: $primary-color-text;
      font-weight: bold;
    }

    &__subtitle {
      color: $primary-subtitle-color;
    }

    &.pending {
      padding-top: 40px;
    }
  }

  &__description {
    h2 {
      margin-bottom: 30px;
    }
  }

  &__company {
    margin-top: 50px;
  }

  &__info {
    &__ul {
      margin: 0;
      padding: 0;
    }

    &__ul__li {
      list-style: none;
      margin-bottom: 15px;
    }

    &__title {
      color: $well-text-color;
      font-weight: bold;
      margin: 0;

      &:hover {
        color: $well-text-color;
      }
    }

    &__link {
      box-shadow: none;
      color: $well-text-color;
      font-weight: bold;

      &:hover {
        background: darken($well-bg-color, 5);
      }
    }
  }
}

.review-bar {
  background-color: #0288D1;
  padding: 0 0 30px;
  color: #FFF;
  border-top: 1px solid #0892DE;

  &__title {
    font-weight: bold;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__btn {
    color: $primary-color-text;
    margin: 0 15px;
    font-weight: 600;

    &:hover,
    &:focus,
    &:active {
      color: $primary-color-text;
    }
  }

  &__btn--approve {
    background-color: $accent-color;
  }

  &__btn--reprove {
    background-color: $red;
  }
}
