$body: rgba(0,0,0,0.7);
$primary: #F44336;
$design: #00BBD3;
$development: #3E50B4;
$marketing: #B0BEC5;
$business: #546E7A;

$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #2196F3;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$nprogress-color: $accent-color;
$nprogress-zindex: 10100;
