$body: #f4f3ef;
$gray: #eee;
$red: #ff5252;
$primary-subtitle-color: #b3e5fc;
$primary-color-dark: #0288d1;
$primary-color: #03a9f4;
$primary-color-light: #b3e5fc;
$primary-color-text: #fff;
$accent-color: #43ca6c;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #b6b6b6;
$nprogress-color: $accent-color;
$nprogress-zindex: 10100;
$well-text-color: #484b5d;
$well-bg-color: lighten($primary-color-light, 10);
