@import 'variables';

.navbar-fixed-top {
  border: 0;
}

.main {
  padding: 50px 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.stats {
  margin-bottom: 30px;
  text-align: center;

  h4 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.stats
.stat {
  margin-bottom: 20px;

  img {
    display: inline-block;
    border-radius: 50%;
  }
}
