@import 'show_job';
@import 'new_job';

.goto-step3 {
  display: none;
}

.btn-search {
  background-color: $primary-color-text;
  color: $primary-color-dark;
  float: right;
  font-size: 15px;
  height: auto;
  margin-top: 0;
  padding: 5px 40px;
}

.job {
  border-bottom: 1px solid $gray;
  clear: both;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 100%;

  &__icon {
    padding-top: 17px;

    &__holder {
      background-color: $accent-color;
      border-radius: 50%;
      height: 60px;
      padding-top: 19px;
      text-align: center;
      width: 60px;

      i {
        color: $primary-color-text;
        font-size: 1.6em;
      }
    }
  }

  &__body {

    &__title {
      color: $primary-text-color;
      font-size: 24px;
      font-weight: 600;
  }

    &__meta {
      font-size: 13px;
      font-weight: 600;
      text-align: right;

      @include mq($from: mobile, $until: tablet) {
        text-align: left;
      }
    }
  }
}
