<% if user_signed_in? %>
  <% if can? :manage, :dashboard %>
    <li><%= link_to fa_icon('dashboard', text: 'Dashboard'), dashboard_index_path %></li>
  <% end %>

  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% end %>
